body{
    background-color: lightgrey;
}
header{
    background-color: white;
}
#burger svg{
    display: none;
}


#burger ul li{
    display: inline-block;
    text-align: right;
}

#burger{
 text-align: right;
}

#accueil ul li{
    display: none;
}

#page ul li{
    display: none;
}


main{
    background-color:;
    display: inline-block;
}

#block{
display: inline-block;
max-width: 50%;

}
#fondb{
    background-color: white;
}

#borderb{
    border: 30px solid white
}


.maison{
    max-width: 55%;
}

.imgmairie{

}